@media (min-width:960px) {
    body{
        background-color: gray;
    }
}

@media (max-width: 600px){
    .principal{
        font-size: 20px;
    }
}

@media (orientation: portrait){
    #copy{
        display: none;
    }
}

@media (orientation: landscape){
    nav{
        display: block;
    }
}

nav{
    display: none;
}

main{
    display: flex;
    flex-direction: row;
}

@media (max-width: 768px){
    main{
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 1200px){
    .secciones{
        margin: 40px 0;
    }
}

@media (max-width: 576px){
    .titulos{
        font-family:sans-serif;
    }
}

@media (max-width: 480px){
    img{
        max-width: 80%;
    }
}